.me{
  background-color: black;
}



.profile-img {
    height: 140px;
    border-radius: 50%;
  }
  

  .parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.skills{
  background-color: skyblue;
}

.contact> h2{
  color: darkblue;
  
}
.bottom-container{
  background-color: #66bfbf;
}
.cm{
  background-color: #53DB76;
  margin-top: 0px;
}

